[# Ignore all bin directories
bin/
# Ignore all files ending with ~
*~
*.class
# Ignore the target directory
# Matches "target" in any subfolder.ant.properties
target/ 
.settings/

.cache
.classpath
.jxta
.project
.settings
target